/* src/styles/colors.css */
:root {
  --primary-color: #4a90e2;
  --secondary-color: #f4a261;
  --accent-color: #2a9d8f;
  --background-color: #23272e;
  --main-backgound-clor: #1d1d1d;
  --text-color: #fff;
}
